nav {
    background-color: #2a2f4a;
    color: white;
}

nav p {
    display: inline;
    margin: auto 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar-brand,
.navbar-header {
    padding: 0;
    margin: 0;
}

.navbar-brand img {
    width: 300px;
}

#content {
    clear: both;
    margin-top: 100px;
}
